<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuDqX4H0-VhBMcVzQr_ASK4C-WDEMA-T0</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>762583041725-7b0s2ku7usv3pcssba170na6ipbo9ve4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762583041725-7b0s2ku7usv3pcssba170na6ipbo9ve4</string>
	<key>GCM_SENDER_ID</key>
	<string>762583041725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yanez.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-3a3fe</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-3a3fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:762583041725:ios:407a411aec9ffdb2</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-3a3fe.firebaseio.com</string>
</dict>
</plist>
